{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
	{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
{% end %}

{% block body %}
<div class="container">
	<label>
		INTRODUCE LA BODEGA A PROBAR:
	</label>
	<input type="text" name="id_bodega" class="id_bodega" placeholder="id de la bodega">
	<br>
	<label>
		NOMBRE DEL SITIO:
	</label>
	<input type="text" name="nombre_bodega" class="nombre_bodega" placeholder="Nombre del sitio">
	<br>
	<input type="button" name="cambio_de_bodega" class="btn-bodega" value="Cambiar de bodega">
</div>
<div class="products">
</div>
{% end %}
